	<!-- HERO -->
	<div class="intro intro4 overlay gradient6">
		<div class="container">
			<div class="row center-flex welcome">
				<div class="col-md-6">
					<h2><b>Maximise</b> your travel experience! </h2>
					<p>Share useful tips with your friends and enjoy your travelling</p>
				</div>

				<div class="col-md-5 col-md-push-1">
					<div class="cd-user-modal"><!-- this is the entire modal form, including the background -->
						<div class="cd-user-modal-container"> <!-- this is the container wrapper -->

						<ul class="cd-switcher">
							<li><a href="#0" class="selected">Sign in</a></li>
							<li><a href="#0">New account</a></li>
						</ul>

						<div id="cd-login">
							<%=form_for User.new, :url => sign_in_path, html: { class: "intro-form", id: "login" } do |f|%>
					      <%= f.text_field :email, placeholder: "Email", autocomplete:"off" %><br>
					      <%= f.password_field :password, placeholder: "Password" %><br>
					      <%= f.button 'Login', class: 'buttons btn btn-primary btn-lg btn-block text-center'%>
								<span>Login with your <%=link_to 'Facebook', '/auth/facebook' %> account</span>
					    <% end %>
						</div>

						<div id="cd-signup" >
							<%=form_for User.new, :url => users_path, html: { class: "intro-form is-not-visible", id: "signup" } do |f|%>
					      <%= f.text_field :username, placeholder: "Username", autocomplete:"off" %><br>
					      <%= f.text_field :email, placeholder: "Email", autocomplete:"off" %><br>
					      <%= f.password_field :password, placeholder: "Password" %><br>
					      <%= f.password_field :password_confirmation, placeholder: "Password again" %><br>
					      <%= f.button 'Create account', class: 'buttons btn btn-primary btn-lg btn-block text-center'%>
								<span>Login with your <%=link_to 'Facebook', '/auth/facebook' %> account</span>
					    <% end %>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HERO END -->
