<% if @board && @board.errors.any?%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@board.errors.count, "error") %>.
      <ul>
        <% @board.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h3>Create a new board</h3>
<%= raise params if @board == nil %>
<%= form_for([@user, @board]) do |f| %>
  <%= f.label :"Board title" %>
  <%= f.text_field :title, class: "well well-sm"%><br><br>

  <p>Create your board and add somes activities already!</p>
  <%= f.fields_for :activities do |activity| %>
    <%= activity.hidden_field :user_id %>
    <%= activity.label :"Activity description" %><br>
    <%= activity.text_area :description %>
    <%= activity.label :"Activity rating" %>
    <%= activity.text_field :rating %><br>
  <% end %><br>

  <%= f.submit "Create Board", class: "btn btn-primary"%>
<% end %>

<h3>Existing boards</h3>
<ul>
  <% current_user.boards.each do |board| %>
    <li><%= link_to board.title, user_board_path(current_user, board) %> | Edit | Delete</li>
  <% end %>
</ul>
