<h3>Create a new board</h3>
<%= form_for([@user, @board]) do |f| %>
  <%= f.label :"Board title" %>
  <%= f.text_field :title%><br>

  <p>Add one activity in your newly created board</p>
  <%= f.fields_for :activities, @board.activities.build do |activity| %>
    <%= activity.label :"Activity description" %>
    <%= activity.text_field :description %>
    <%= activity.label :"Activity rating" %>
    <%= activity.text_field :rating %>
  <% end %><br>

  <%= f.submit "Create Board", class: "btn btn-primary"%>
<% end %>


<h3>Existing boards</h3>
<ul>
  <% current_user.boards.each do |board| %>
    <li><%= link_to board.title, user_board_path(current_user, board) %></li>
  <% end %>
</ul>
