<%= errors_messages(@board)%>

<h3>Start by creating an activity or ...</h3>
<%= form_for current_user.activities.build, :url => activities_path do |f|%>
  <%= render partial:"activities/activity_inline", :locals => {activity: f} %>
  <%= f.submit "Create Activity", class:"btn btn-primary" %>
<% end %><br><br>

<h3>... Create a board</h3>
<h5>Create your board and add somes activities already!</h5>
<%= form_for @board do |f| %>
  <p>
    <%= f.label :"Board title" %>
    <%= f.text_field :title, class: "well well-sm"%>
  </p>

  <%= f.fields_for :activities, @board.activities.build(user_id:current_user.id) do |activity| %>
    <%= activity.hidden_field :user_id %>
    <%= render partial: "activities/activity_inline", :locals => {activity: activity}%>
  <% end %>

  <%= f.submit "Create Board", class: "btn btn-primary"%>
<% end %><br><br>



  <h3>Boards</h3>
  <ul>
    <% @boards.each do |board| %>
      <li><%= link_to board.title, board_path(board) %></li>
    <% end %>
  </ul>
