<div class="info-content">
  <div class="container">
    <div class="row center-flex">
      <div class="general-container">

        <div class="col-sm-6">
          <!-- <h2><b>Create</b> new board</h2> -->
            <!-- <div class="btn-more space-line"></div> -->
            <div id="board-form-container">
              <%= errors_messages(@board)%>

              <% if policy(:display).show? %>
                <%= form_for @board, :url => url_address_create_board(@user), html: { class: "board-form"} do |f|%>
                  <h2><b>Create</b> board</h2>
                  <!-- <div class="btn-more space-line"></div> -->
                  <div class="col-sm-12 add-board">
                    <%= render :partial => "board", :locals => {board: f} %>
                  </div>

                  <div class="col-sm-12 activity-title">
                    <div class="col-xs-4 activity-phrase" id="left-phrase"><h3><b>ADD     </b></h3></div>
                    <div class="col-xs-4">
                      <div id="circle"><div id="circle-text"><h2><b>+</b></h2></div></div>
                    </div>
                    <div class="col-xs-4 activity-phrase" id="right-phrase"><h3><b>ACTIVITY</b></h3></div>
                  </div>

                  <div class="col-sm-12 add-activity" id="js-add-activity">
                    <%#= f.fields_for :activities, @board.activities.build(user_id:right_user_id(@user)) do |ff| %>
                    <%= render :partial => "activities/activity_form", :locals => {f: f} %>
                    <%= render :partial => "activities/activity_form", :locals => {f: f} %>
                    <%#= raise @board.inspect%>
                    <!-- <%#= f.fields_for :activities, @board.activities.build(user_id:right_user_id(@user)) do |ff| %>
                      <%#= ff.hidden_field :user_id %>
                      <%#= render partial: "activities/activity_inline", :locals => {activity: ff}%>
                    <%# end %> -->
                  </div>
                  <%= f.button "Create", :class => "btn btn-primary-board btn-lg btn-block text-center", :id => "js-button"%>
                <%end%>
              <% end %>


              <!-- <%# if policy(:display).show? %>
                <h3>Start by creating an activity or ...</h3>
                <%#= form_for @activity, :url => url_address_create_activity(@user) do |f| %>
                  <%#= render :partial => "activities/activity_inline", :locals => {activity: f}%>
                  <%#= f.submit "Create Activity", class:"btn btn-primary" %>
                <%# end %>
              <%# end %> -->
            </div>
          </div>

          <div class="col-sm-6 gallery">
            <div class="col-xs-4"><%= image_tag("boatsunset", class: "img-responsive gallery-board")%></div>
            <div class="col-xs-4"><%= image_tag("beach", class: "img-responsive gallery-board")%></div>
            <div class="col-xs-4"><%= image_tag("bridge3", class: "img-responsive gallery-board")%></div>
            <div class="col-xs-4"><%= image_tag("boat1", class: "img-responsive gallery-board")%></div>
            <div class="col-xs-4"><%= image_tag("bridge4", class: "img-responsive gallery-board")%></div>
            <div class="col-xs-4"><%= image_tag("beachpeople", class: "img-responsive gallery-board")%></div>

            <div class="col-xs-12">
              <div class="btn-more">
                <h2><b>Boards</b></h2>
              </div>
              <!-- <h2><b>Boards</b></h2> -->
              <ul class="list">
                <% @boards.each do |board| %>
                <div class="col-xs-6">
                  <li><i class="fa fa-circle"></i><%= link_to board.title, board_link(board, @user) if policy(board).show?%></li>
                </div>
                <% end %>
              </ul>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
