<h3>Start by creating an activity or ...</h3>
<%= form_for current_user.activities.build, :url => user_activities_path(current_user) do |f|%>
  <%= f.label :description %>
  <%= f.text_field :description, class: "well well-sm" %>
  <%= f.label :rating %>
  <%= f.text_field :rating, class: "well well-sm" %><br>
  <%= f.submit "Create Activity", class:"btn btn-primary" %>
<% end %><br><br>



<% if @board.errors.any?%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@board.errors.count, "error") %>.
      <ul>
        <% @board.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<h3>... Create a board</h3>
<h5>Create your board and add somes activities already!</h5>
<%= form_for([current_user, @board]) do |f| %>
  <%= f.label :"Board title" %>
  <%= f.text_field :title, class: "well well-sm"%>
  <h5>Create somes activities within your new board</h5>
  <h6>(Description and rating fields must be filled)</h6><br>
  <%= f.fields_for :activities do |activity| %>
    <%= activity.hidden_field :user_id %>
    <%= activity.label :description %>
    <%= activity.text_field :description, class: "well well-sm" %>
    <%= activity.label :rating %>
    <%= activity.text_field :rating, class: "well well-sm" %><br>
  <% end %>
  <h6>Description and rating fields must be filled</h6>

  <%= f.submit "Create Board", class: "btn btn-primary"%>
<% end %><br><br>



  <h3>Existing boards</h3>
  <ul>
    <% @boards.each do |board| %>
      <li><%= link_to board.title, user_board_path(current_user, board) %></li>
    <% end %>
  </ul>
