<h1><%= @board.title %></h1>
<%= show_board_edit_button(@board, @user)%><br>
<%= show_board_delete_button(@board, @user)%>

<h3>Activities</h3><br>
<ol>
  <% @board.activities.each do |activity| %>
    <li>Description: <%= activity.description %> | Rating: <%= activity.rating %></li>
    <%= show_activity_edit_link(activity, @user) %>
    <%= show_boardactivity_delete_link(@board, activity, @user)%>
  <% end %>
</ol>
