<h1><%= @board.title %></h1>
<%= button_to "Edit Title", edit_board_path(@board), :class => "btn btn-info", method: :get %><br>
<%= button_to "Delete board", board_path(@board), :class => "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"}%><br><br>

<h3>Activities</h3><br>
<ol>
  <% @board.activities.each do |activity| %>
    <li>Description: <%= activity.description %> | Rating: <%= activity.rating %></li>
    <%=link_to "Edit", edit_activity_path(activity) %> |
    <%=link_to "Delete", board_activity_path(board_activity_id(@board, activity)), method: :delete, data: {confirm: 'This will delete the activity from the board only. Are you sure?'}%> <br><br>
  <% end %>
</ol>
