<%= activity.label :Description %><br>
<%= activity.text_area :description %><br>
<%= activity.label :Rating %><br>
<%= activity.text_field :rating %><br><br>
<h3>Belongs to boards</h3>
<%= activity.collection_check_boxes :board_ids, current_user.boards, :id, :title do |b|
    b.label(class: 'checkbox') {b.check_box + b.text}
end %><br>
