<%= display_form(@activity) %>
<br><br>

<h2>Activities</h2><br>
<ul>
  <% @activities.each do |activity|%>
    <li>
      Description: <%= activity.description %> | Rating: <%= activity.rating %>
      <%= show_edit_link(activity, @user) %>
      <%= show_delete_link(activity) %><br>
    </li>
    Boards: <%=boards_related_to(activity)%><br><br>
  <% end %>
</ul>
