<h2>Create a new activity</h2>
<%= form_for ([current_user, @activity]) do |f|%>
  <%= f.label :description %>
  <%= f.text_field :description, class: "well well-sm" %>
  <%= f.label :rating %>
  <%= f.text_field :rating, class: "well well-sm" %><br>

  <%= f.collection_check_boxes :board_ids, current_user.boards, :id, :title do |b|
      b.label(class: 'checkbox') {b.check_box + b.text}
  end %><br><br>

  <%= f.submit "Create Activity", class:"btn btn-primary" %>
<% end %><br><br>


<h2>My Activities</h2><br>
<ul>
  <% @activities.each do |activity|%>
    <li>
      Description: <%= activity.description %> | Rating: <%= activity.rating %> |
      <%=link_to "Edit", edit_user_activity_path(current_user, activity) %> |
      <%=link_to "Delete", user_activity_path(current_user, activity),method: :delete, data: {confirm: 'Are you sure?'}%> <br>
    </li>
    Boards: <%=boards_related_to(activity, current_user)%><br><br>
  <% end %>
</ul>
