<%= display_create_activity_form(@activity, @user) %>
<br><br>

<h2>Activities</h2><br>
<ul>
  <% @activities.each do |activity|%>
    <li>
      Description: <%= activity.description %> | Rating: <%= activity.rating %>
      <%= show_activity_edit_link(activity, @user)  %>
      <%= show_activity_delete_link(activity, @user) %><br>
    </li>
    Boards: <%=boards_related_to(activity, @user)%><br><br>
  <% end %>
</ul>
