<!DOCTYPE html>
<html>
  <head>
    <title>Travlx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>

  <body>
    <!--  navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= home %>"/>Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-left">
            <ul class="nav navbar-nav">
              <li><%= link_to "Sign Up", sign_up_path unless current_user %></li>
              <li><%= link_to "Sign In", sign_in_path unless current_user %></li>
              <li><%= link_to "My Activities", user_activities_path(current_user) if current_user %></li>
              <li><%= link_to "My Friends", friends_user_path(current_user) if current_user %></li>
            </ul>
          </div>
          <div class="navbar-right">
            <ul class="nav navbar-nav">


              <!-- WILL NEED TO DELETE THIS SECTION -->
              <li><p><%= button_to "Control", action="/admin/users", class:"btn btn-info", method: :get if current_user.admin? %></p></li>
              <li><p class="navbar-text"><%= link_to "Boards", boards_path if current_user.admin? %></p></li>
              <li><p class="navbar-text"><%= link_to "Activities", activities_path if current_user.admin? %></p></li>
              <li><p><%= button_to current_user.role.capitalize, user_path(current_user), class:"btn btn-success", method: :patch if current_user %></p></li>
              <!-- WILL NEED TO DELETE THIS SECTION -->

              <li><p class="navbar-text"><%= current_user.username if current_user %></p></li>
              <li><p><%= button_to 'Log Out', logout_path, class:"btn btn-warning",method: :delete if current_user %></p></li>
            </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
